@font-face {
  font-family: "OpenSans-Light";
  src: local("OpenSans-Light"), url("../../media/OpenSans-Light.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Light", sans-serif;
}

body {
  background-color: white;
}

label {
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

small {
  font-size: 12px;
  font-weight: bold;
}

img {
  object-fit: cover;
}
.standard-input {
  width: 200px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 10px;
}

.standard-button {
  border-radius: 5px;
  background-color: #93c558;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 160px;
  text-align: center;
  font-size: 13px;
}

/*ANIMAÇÕES-EFEITOS*/

.red {
  color: red;
}

.tint {
  filter: grayscale(100%);
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
